@use "../abstract" as *;

section#about {    
    animation: modal-fade-in 0.5s ease 1;
}

.window-container.free-size:not(:first-child) {
    margin-top: 1rem;
}

.about-desc {
    width: min(500px, calc(100vw - 1rem));
    padding: 0.25rem;
}

ul.team-blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing);

    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
    }
    
    li {
        display: flex;

        background-color: color(section2);
        width: 100%;

        img {
            width: 96px;
            height: 64px;
        }
        hgroup {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: var(--spacing);
            padding: var(--spacing);
            font-size: text(small);
        }
    }
}

ul.link-blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing);

    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
        a {
            justify-content: center;
        }
    }

    a {
        display: flex;
        background-color: color(section2);
        flex: 1 0 auto;
        // justify-content: center;
        align-items: center;
        gap: .5rem
    }
}
.clickable {
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;

    transition:
        transform 0.15s ease,
        box-shadow 0.15s ease;

    &:hover {
        box-shadow: 0px 0 40px color(darker);
        z-index: 60;
    }
    &:active {
        transform: scale(0.85);
    }
}