@use "../abstract" as *;

.window-container.calendar {
    height: auto;
    min-height: unset;
    clip-path: polygon(0% 0%, calc(100% - 37px) 0%, 100% 37px, 100% 37px, 100% 100%, 0% 100%);
    animation: modal-fade-in 0.5s ease 1;

    .window-info-row {
        justify-content: space-between;
        width: calc(100% - 30px);
        padding: var(--spacing);
    }
}

button.disabled {
    color: color(text3);
    pointer-events: none;
}

.calendar-rows {
    display: flex;
    flex-direction: column;

    width: 100%;
    gap: var(--spacing);
}
.calendar-cols {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: fit-content;
    gap: var(--spacing);
}

.calendar-cols a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    aspect-ratio: 1;
    font-size: text(regular);
    background-color: color(section2);

    animation: archive-fade-in 0.5s ease 1;
    transition:
        transform 0.15s ease,
        box-shadow 0.15s ease;

    .shiny {
        position: absolute;
        bottom: -5px;
        left: 0;
        color: var(--selection);
    }

    &.hidden {
        visibility: hidden;
        pointer-events: none;
    }
    &.disabled {
        background-color: color(section1);
        color: color(text3);
        pointer-events: none;
    }
    &.attempted {
        --selection: #{color(selection4)};
    }
    &.complete {
        --selection: #{color(selection3)};
    }

    &:hover {
        box-shadow: 0px 0 70px color(darker);
        z-index: 10;
    }

    &:active {
        transform: scale(90%);
    }

    @media (max-width: 768px) {
        &:hover {
            box-shadow: unset;
        }
    }
    
    &.attempted, &.complete {
        border: 1px solid var(--selection);
        
        &::after {
            display: block;
            content: '';
            background-color: var(--selection);
            width: 20%;
            aspect-ratio: 1;

            position: absolute;
            right: -1px;
            top: 0px;

            clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
        }
    }
}

@keyframes archive-fade-in {
    0% {
        opacity: 0;
        transform: scaleY(0.75);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}