@use "../abstract" as *;

.challenge-label {
    display: grid;
    grid-template-columns: 80px auto;
    
    background-color: color(section2);
    width: 100%;
    padding: var(--spacing);
    gap: var(--spacing);
    cursor: pointer;
    position: relative;

    transition:
        transform 0.15s ease,
        box-shadow 0.15s ease;

    &:hover {
        box-shadow: 0px 0 70px color(darker);
        z-index: 60;
    }
    &:active {
        transform: scale(0.85);
    }

    input {
        display: none;
    }
    div:has(h3) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        h3 {
            margin-bottom: 0.5rem;
            color: color(text2);
        }
        p {
            color: color(text1);
            font-size: text(small);
        }
    }
    img {
        width: 80px;
        height: 80px;
    }

    &.disabled {
        opacity: 0.6;
        color: color(text3);
        pointer-events: none;
    }

    &[data-status="0"] {
        --selection: #{color(selection4)};
    }
    &[data-status="-1"] {
        --selection: #{color(selection2)};
    }
    &[data-status="1"] {
        --selection: #{color(selection3)};
    }

    &[data-status*="1"], &[data-status*="0"] {
        border: 2px solid var(--selection);
        
        &::after {
            display: block;
            content: '';
            background-color: var(--selection);
            width: 15px;
            aspect-ratio: 1;

            position: absolute;
            right: -1px;
            top: 0px;

            clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
        }
    }
}

.puzzle-challenge-select {
    position: absolute;
    top: 0;

    display: flex;
    justify-content: end;
    align-items: center;
    font-size: text(small);
    color: color(text2);
    pointer-events: none;

    width: min(100%, calc(120px * var(--cols, 4)));
    height: 36px;
    overflow: hidden;
    z-index: 20;

    label {
        display: flex;
        justify-content: end;
        align-items: center;
        cursor: pointer;
        height: 100%;
        gap: var(--spacing);
        pointer-events: all;        

        &.disabled {
            pointer-events: none;
        }

        @media (max-width: 768px) {
            svg {
                padding-bottom: 2px;
            }
        }
        @media (min-width: 768px) {            
            p {
                margin-top: 0.2rem;
            }
        }
        @media (max-width: 380px) {
            svg, p {
                display: none;
            }
        }
    }

    img {
        &[data-challenge="1"] {
            --offset-x: -1rem;
            --offset-y: 0;
        }
        &[data-challenge="2"] {
            --offset-x: -0.85rem;
            --offset-y: 1.75rem;
        }
        &[data-challenge="3"] {
            --offset-x: -0.15rem;
            --offset-y: 1rem;
        }
        &[data-challenge="4"] {
            --offset-x: 0;
            --offset-y: 2.6rem;
        }
        &[data-challenge="5"] {
            --offset-x: -1rem;
            --offset-y: 3rem;
            margin-right: .25rem;
        }

        margin: 0 var(--offset-x);
        margin-top: var(--offset-y);
        width: 80px;
        height: 80px;
    }    
}