@use "../abstract" as *;
 
ul#dex-page {
  --cols: 6;

  display: flex;  
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing);

  width: 50vw;
  @media(max-width: 768px) {
    --cols: 4;
    width: 100%;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.modal#dex-modal {
    --height: 500px;

    width: min(100%, 400px);
    max-width: unset;
    min-width: unset;
    height: var(--height);

    div.modal-content button {
        font-weight: unset;
        transition: unset;

        &:hover {
            box-shadow: unset;
            z-index: unset;
        }
        &:active {
            transform: unset;
        }
    }

    section.dex-view {
        height: calc(var(--height) - 40px);

        div.type-chart {
            max-width: 100%;
        }
    }
}