@use "../abstract" as *;

section#page {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;

  color: color(text1);

  ul {
    display: flex;
    width: 500px;
    max-width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}