@use "../abstract" as *;

section#page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;

  color: color(text1);

  ul {
    --fraction: 4;
    --gap: .5rem;

    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap);

    width: 50vw;
    @media(max-width: 768px) {
      width: 100%;
    }

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}