@use "../abstract" as *;

div#gradient {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    z-index: -1;

    &:not(.headless) {
        background: linear-gradient(180deg, color(background1) 10%, rgba(25, 25, 27, 0) 100%);
    }

    &.headless {
        background: linear-gradient(180deg, color(transparent) 9.7%, color(background1) 45.82%, color(background1) 63.88%, color(transparent) 100%);
    }
}