@use "../abstract" as *;

section.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  color: color(text1);
  
  div.gradient {
    background: linear-gradient(180deg, color(transparent) 9.7%, color(background1) 45.82%, color(background1) 63.88%, color(transparent) 100%);
  }
}
