@use "../abstract" as *;

.infinite-window {
    height: 400px !important;
    animation: modal-fade-in 0.5s ease 1;
}

.infinite-menu {
    display: flex;
    flex-direction: column;
    justify-content: start;

    width: 100%;
    gap: 0.5rem;
    height: 100%;

    & > div {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        gap: 0.5rem;
    }
}

.infinite-menu-p {
    color: color(text2);
    font-size: text(small);
}

.modal-background:has(.infinite-menu) {
    z-index: 40;
}