@use "../abstract" as *;
@use "./PokemonBlockEgg.scss";

label.block-container {
    --selection: #{color(selection1)};
    
    position: relative;
    container-type: inline-size;
    cursor: pointer;

    aspect-ratio: 1;
    flex: 0 0 calc(
        (100% - (var(--spacing) * (var(--cols, 4) - 1))) / var(--cols, 4)
    );

    &:has(.solved) {
        cursor: default;
        pointer-events: none;
    }

    div.pokemon-block {
        width: 100%;
        aspect-ratio: 1;

        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        position: relative;
    
        z-index: 0;
        padding: var(--spacing);
        background-color: color(section2);
    
        transform-origin: center;
        transition:
            transform 0.15s ease,
            box-shadow 0.15s ease;
        
        img {
            position: absolute;
            top: 0;
            
            width: 80%;
            z-index: 1;
        }
        
        h3, h4 {
            text-transform: capitalize;
            text-align: center;
            font-weight: unset;
            z-index: 5;
            white-space: nowrap;
            color: unset;

            text-shadow:
                -2px -2px 1px color(section2),
                2px -2px 1px color(section2),
                -2px 2px 1px color(section2),
                2px 2px 1px color(section2);
        }
        
        h3 {
            font-size: text(xsmall);
            
            @container (min-width: 60px) {
                font-size: text(small);
            }
            @container (min-width: 100px) {
                font-size: text(base);
            }
        }
        
        h4 {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;

            color: color(text2);
            font-size: text(xsmall);
            @container (min-width: 120px) {
                font-size: text(small);
            }
        }
        
        input {
            display: none;
        }     
    
        &:has(input:checked), &.has-error {
            border: 2px solid var(--selection);

            &.correct, &.incorrect {
                z-index: 1;
                pointer-events: none;
                animation: make-guess 0.5s ease 1;
            }

            &.correct {
                --selection: #{color(selection3)};
            }
            &.incorrect, &.has-error {
                --selection: #{color(selection2)};
            }
    
            &::after {
                display: block;
                content: '';
                background-color: var(--selection);
                width: 15%;
                aspect-ratio: 1;
    
                position: absolute;
                right: 0;
                top: -1px;
    
                clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
            }
        }

        &.solved {
            --border-color: #{color(selection3)};

            &.abandoned {
                --border-color: transparent;
            }

            background-color: unset;
            animation: solved-background 1.0s ease 1;
            border: 2px solid;
            border-color: transparent;

            h3, h4 {
                opacity: 0;
                visibility: hidden;
                animation: solved-text 1.0s ease 1;
            }

            img {
                transform: scale(var(--scale, 1)) translate(var(--x, 0), var(--y, 0));
                animation: solved-image 1.25s ease 1;
            }

            &:not(.abandoned)::after {
                opacity: 0;
                visibility: none;

                display: block;
                content: '';
                background-color: color(selection3);
                width: 15%;
                aspect-ratio: 1;
    
                position: absolute;
                right: 0;
                top: -1px;
    
                clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
                animation: solved-text 1.0s ease 1;
            }
        }
    
        &:hover {
            box-shadow: 0px 0 70px color(darker);
            z-index: 10;
        }
    
        &:active {
            transform: scale(90%);
        }

        &.shiny:not(.solved)::before {
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;

            background: linear-gradient(135deg, transparent 10%, rgba(0, 234, 255, 0.2) 50%, transparent 90%);
            background-size: 300% 300%;
            background-repeat: no-repeat; 
            animation: shine 2.5s linear infinite;
        }

        @media (max-width: 768px) {
            &:hover {
                box-shadow: unset;
            }
        }
    }
}

label.block-container:has(.list-view) {
    width: 100%;
    height: fit-content;
    aspect-ratio: unset;
    flex: 0 0 auto;
    overflow: hidden;

    div.pokemon-block {
        width: 100%;
        // height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        position: relative;
        gap: 0.25rem;
        aspect-ratio: unset;
    
        z-index: 0;
        padding: 1rem;
        background-color: color(section2);
        
        img {
            position: absolute;
            top: -10px;
            left: 10px;
            
            width: 20%;
            z-index: 1;
        }
        
        h3 {
            margin-left: 25%;
            font-size: unset;
        }
        h4 {
            width: fit-content;
            max-width: 60%;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: unset;
        }
        h3, h4 {
            display: inline;
            text-align: start;
            width: fit-content;
            z-index: 5;
            font-size: text(regular);
        }
        
        &:has(input:checked)::after {
            display: block;
            content: '';
            background-color: var(--selection);
            width: 4%;
            aspect-ratio: 1;

            position: absolute;
            right: 0;
            top: -1px;

            clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
        }
    }
}

.shiny-gif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);

    mix-blend-mode: lighten;
    z-index: 50;
}

.cols-4 label.block-container:has(.solved) {
    &:nth-child(4n-2) {
        --scale: 0.9;
        --x: 80%;
        --y: 0;
    }
    &:nth-child(4n-1) {
        --scale: 0.9;
        --x: 27%;
        --y: 0;
    }
    &:nth-child(4n) {
        --scale: 0.9;
        --x: -27%;
        --y: 0;
    }
    &:nth-child(4n+1) {
        --scale: 0.9;
        --x: -80%;
        --y: 0;
    }    
}
.cols-5 label.block-container:has(.solved) {
    &:nth-child(5n+2) {
        --scale: 0.9;
        --x: 109%;
        --y: 0;
    }    
    &:nth-child(5n-2) {
        --scale: 0.9;
        --x: 54%;
        --y: 0;
    }
    &:nth-child(5n-1) {
        --scale: 0.9;
        --x: 0;
        --y: 0;
    }
    &:nth-child(5n) {
        --scale: 0.9;
        --x: -54%;
        --y: 0;
    }
    &:nth-child(5n+1) {
        --scale: 0.9;
        --x: -109%;
        --y: 0;
    }
}
.cols-6 label.block-container:has(.solved) {
    &:nth-child(6n+2) {
        --scale: 0.9;
        --x: 135%;
        --y: 0;
    }
    &:nth-child(6n+3) {
        --scale: 0.9;
        --x: 81%;
        --y: 0;
    }    
    &:nth-child(6n+4) {
        --scale: 0.9;
        --x: 28%;
        --y: 0;
    }
    &:nth-child(6n-1) {
        --scale: 0.9;
        --x: -28%;
        --y: 0;
    }
    &:nth-child(6n) {
        --scale: 0.9;
        --x: -81%;
        --y: 0;
    }
    &:nth-child(6n+1) {
        --scale: 0.9;
        --x: -135%;
        --y: 0;
    }
}

@keyframes make-guess {
    0% {
        box-shadow: 0px 0 0px transparent;
    }
    30% {
        box-shadow: 0px 0 10px var(--selection);
    }
    100% {
        box-shadow: 0px 0 30px transparent;
    }
}

@keyframes solved-background {
    0% {
        background-color: color(section2);
        border-color: var(--border-color);
    }
    60% {
        background-color: color(section2);
        border-color: var(--border-color);
    }
    100% {
        background-color: transparent;
        border-color: transparent;
    }
}

@keyframes solved-text {
    0% {
        opacity: 1;
        visibility: visible;
    }
    60% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes solved-image {
    0% {
        transform: scale(1) translate(0, 0);
    }
    60% {
        transform: scale(1) translate(0, 0);
    }
    100% {
        transform: scale(var(--scale, 1)) translate(var(--x, 0), var(--y, 0));
    }
}

@keyframes shine {
    0% {
        background-position: -200% -200%;
    }
    66% {
        background-position: 200% 200%;
    }
    100% {
        background-position: 200% 200%;
    }
}