@use "../abstract" as *;

.window-container {
    display: flex;
    flex-direction: column;
    width: min(100%, calc(140px * var(--cols, 4)));
    background-color: color(section1);

    gap: var(--spacing);
    padding: var(--spacing);
    padding-top: 0.25rem;

    clip-path: polygon(0% 0%, 45% 0%, calc(45% + 37px) 37px, 100% 37px, 100% 100%, 0% 100%);

    transition:
        height 0.3s ease
        width 0.3s ease;
}
@media (max-width: 768px) {
    .window-container {
        padding-top: 0.1rem;
        clip-path: polygon(0% 0%, calc(100% - 37px) 0%, 100% 37px, 100% 37px, 100% 100%, 0% 100%);

    }

    section.puzzle-info-row {
        margin: 0.25rem 0;
    }
}
@media (max-width: 640px) {
    .window-container {
        width: calc(100% + var(--spacing) * 2.5);
        padding-top: 0;
    }
}

section.puzzle {
    position: relative;

    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing);

    width: 100%;

    &.pause {
        pointer-events: none;
    }
}

section.solved-groups-grid {
    position: absolute;
    top: 0;
    left: 0;

    display: grid;
    grid-template-rows: repeat(var(--rows), 1fr);
    gap: inherit;
    padding: inherit;
    width: 100%;
    height: 100%;

    z-index: -1;

    .solved-group {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        background-color: color(section2);
        padding: var(--spacing);
        border: 2px solid #{color(selection3)};

        animation: solved-group-appear 1.0s ease 1;

        span {
            margin-bottom: 0.1rem;
            width: 100%;
            text-align: center;
            font-size: text(base);
            z-index: 100;
            @media (max-width: 640px) {
                font-size: text(small);
            }
        }

        &::after {
            display: block;
            content: '';
            background-color: color(selection3);
            height: 15%;
            aspect-ratio: 1;

            position: absolute;
            right: 0;
            top: -1px;

            clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
            animation: solved-text 1.0s ease 1;
        }
    }
}

section.puzzle-info-row {
    display: flex;
    justify-content: start;
    align-items: center;
    height: fit-content;
    gap: var(--spacing);
    padding: var(--spacing);
    font-size: text(small);
    
    width: min(100%, 550px);
}

.puzzle-guess-logs {
    display: flex;
    flex-direction: column;
    
    gap: var(--spacing);
    padding: var(--spacing);
    background-color: color(section1);
    max-width: min(500px, 100vw);

    max-height: 260px;
    overflow-y: auto;

    div.puzzle-guess {
        display: flex;
        align-items: center;

        border: 2px solid color(selection2);
        background-color: color(section2);
        width: 100%;
        padding: var(--spacing);

        .accuracy-circle {
            --percent: calc(1% * var(--accuracy));

            width: 24px;
            aspect-ratio: 1;
            border-radius: 50%;
            border: 2px solid color(selection2);

            background-image: conic-gradient(color(selection2) var(--percent), transparent var(--percent), transparent calc(100% - var(--percent)), transparent calc(100% - var(--percent)));
            // background-image: conic-gradient(color(selection2) calc(100% - var(--percent)), transparent calc(100% - var(--percent)), transparent var(--percent), transparent var(--percent));
        }

        img {
            width: 48px;
        }

        &.correct {
            border: 2px solid color(selection3);
            .accuracy-circle {
                background-image: unset;
                background-color: color(selection3);
                border: 2px solid color(selection3);
            }
        }
    }
}

.guesses-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.25rem 0;

    max-width: 100%;
    gap: var(--spacing);
    z-index: 2;

    li {
        display: block;
        width: 10px;
        aspect-ratio: 1;

        animation: guess-in 0.15s ease 1;

        &.guess-0 {
            background-color: color(selection2);
        }
        &.guess-1 {
            background-color: color(selection3);
        }
        &.guess-2 {
            background-color: color(selection1);
        }

        @keyframes guess-in {
            0% {
                width: 0px;
                height: 0px;
            }

            80% {
                width: calc(var(--width, 8px) + 3px);
                height: calc(var(--width, 8px) + 3px);
            }
        
            100% {
                width: var(--width, 8px);
                height: var(--width, 8px);
            }
        }
    }
}

@keyframes solved-group-appear {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}