@use "../abstract" as *;

section#group-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);

    width: min(calc(100% + (var(--spacing) * 2)), calc(140px * var(--cols, 4)));

    transition:
        width 0.3s ease,
        filter 0.3s ease,
        transform 0.3s ease;
    animation: group-list-appear 0.3s ease 0s 1;

    &.group-open {
        transform: translateX(calc(-250% / var(--cols)));
    }

    @media (max-width: 1500px) {
        &.group-open {
            transform: unset;
            filter: brightness(0.5);
            opacity: 0.85;
            pointer-events: none;
        }
    }
}

section#group-form {
    position: fixed;
    right: 10%;
    top: 50%;
    height: fit-content;

    transform: translateY(-50%);

    transition: opacity 0.15s ease;

    &:not(.group-open) {
        opacity: 0;
        pointer-events: none;
    }

    @media (max-width: 1500px) {
        right: 50%;
        transform: translate(50%, -50%);
    }

    @media (max-width: 768px) {
        width: 100vw;

        .window-container {
            width: 100%;
        }
    }
}

.tabs-list {
    display: flex;
    gap: var(--spacing);
    width: 100%;

    button.tab {
        position: sticky;
        top: 0;

        padding: var(--spacing);
        width: 100%;
        height: fit-content;
        color: color(text2);
        text-align: center;
        font-size: text(small);
        border-bottom: 2px solid transparent;

        transition:
            border-bottom 0.15s ease,
            color 0.15s ease;

        &.active {
            color: color(text1);
            border-bottom: 2px solid color(text1);
        }
    }
}

.group-form-content {
    display: flex;
    flex-direction: columm;
    gap: var(--spacing);

    min-width: 349px;
    min-height: 505px;

    padding: var(--spacing);
    background-color: color(section1);

    div.tab-content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing);
        width: 100%;

        &:not(.active) {
            display: none;
        }
    }    
}

.filter-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing);
}

.puzzle-header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    
    padding: calc(var(--spacing) + 0.25rem) var(--spacing);
    background-color: color(section1);
}

div.group-card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    padding: var(--spacing);

    background-color: color(section1);

    p.group-name {
        padding: 0.25rem 0;
        font-size: text(small);
    }

    .group-mons {
        display: grid;
        grid-template-columns: repeat(var(--cols), 1fr);
        gap: var(--spacing);
    }
}

.cut-in {
    clip-path: polygon(0% 0%, calc(100% - 25px) 0%, 100% 25px, 100% 25px, 100% 100%, 0% 100%);
}

.edit-hover {
    position: relative;
    cursor: pointer;

    & > svg {
        color: color(text2);
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);

        opacity: 0;
        transition: opacity 0.15s ease;
    }

    &:hover > svg {
        opacity: 1;
    }
}

.dummy-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: color(text3);
    font-size: 4rem;
}

.form-flex {
    width: 100%;
    display: flex;
    gap: inherit;

    .form-label {
        width: 100%;
    }
}

#click-catcher {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    opacity: 0;
}

@keyframes group-list-appear {
    0% {
        width: min(calc(100% + (var(--spacing) * 2)), calc(140px * var(--cols, 4)));
        opacity: 0;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}