@use "../abstract" as *;

section.puzzle {
    --fraction: 4;
    --gap: .5rem;

    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap);

    width: 550px;
    max-width: 100vw;

    &.pause {
        pointer-events: none;
    }
}