@use "../abstract" as *;

.window-container {
    display: flex;
    flex-direction: column;
    min-height: 580px;
    width: min(100%, 560px);
    background-color: color(section1);

    gap: var(--spacing);
    padding: var(--spacing);
    padding-top: 0;

    clip-path: polygon(0% 0%, 45% 0%, calc(45% + 37px) 37px, 100% 37px, 100% 100%, 0% 100%);

    transition: height 0.3s ease;
}
@media (max-width: 640px) {
    .window-container:has(section.puzzle) {
        width: calc(100% + var(--spacing) * 2.5)
    }
}

section.puzzle {
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing);

    width: 100%;

    &.pause {
        pointer-events: none;
    }
}

section.puzzle-info-row {
    display: flex;
    justify-content: start;
    align-items: center;
    height: fit-content;
    gap: var(--spacing);
    padding: var(--spacing);
    
    width: min(100%, 550px);
}

.guesses-container {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;

    min-height: 30px;
    max-width: 50%;
    gap: var(--spacing);
    z-index: 2;

    li {
        display: block;
        width: 10px;
        aspect-ratio: 1;
        border-radius: 2px;

        animation: guess-in 0.15s ease 1;

        &.guess-0 {
            background-color: color(selection2);
        }
        &.guess-1 {
            background-color: color(selection3);
        }
        &.guess-2 {
            background-color: color(selection1);
        }

        @keyframes guess-in {
            0% {
                width: 0px;
                height: 0px;
            }

            80% {
                width: calc(var(--width, 8px) + 3px);
                height: calc(var(--width, 8px) + 3px);
            }
        
            100% {
                width: var(--width, 8px);
                height: var(--width, 8px);
            }
        }
    }
}