@use "../abstract" as *;

div.modal-background:has(.tutorial-item) {
    z-index: 60;
}

section.modal:has(.tutorial-item) {
    min-width: min(100vw, 400px);
    max-width: min(100%, 400px);
}

ul.page-view > li.tutorial-item {
    height: fit-content;
    max-height: unset;

    .img-container {
        display: flex;
        justify-content: center;
    }
    img {
        width: 100%;
        max-width: 80%;
    }

    p {
        text-align: center;
        font-size: text(small);
    }
}