# SERVER SIDE
MONGODB_URI="mongodb+srv://<username>:<password>@pokesortcluster.k83vm.mongodb.net/?retryWrites=true&w=majority&appName=PokesortCluster"
DB_NAME="db_name"
TIME_OFFSET_HOURS=0
ADMIN_USER="admin"
ADMIN_PASSWORD="admin"
G_TAG="G_TAG"

# CLIENT SIDE
NEXT_PUBLIC_API_BASE_URL="http://localhost:3000"
AUTHORIZATION_BATCH="password"