# SERVER SIDE
MONGODB_URI="mongodb+srv://<username>:<password>@pokesortcluster.k83vm.mongodb.net/?retryWrites=true&w=majority&appName=PokesortCluster"
DB_NAME="db_name"

# CLIENT SIDE
NEXT_PUBLIC_API_BASE_URL="http://localhost:3000"