:root {
    scroll-behavior: smooth;
    max-width: 100vw;
    overflow: none;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: #12121B;
    background-image: url('../assets/images/bg_texture.png');
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: center;

    min-height: 100vh;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}